.secaologo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    padding: 15px;
    width: 100%;
    color: white;
}
.footer {
  background-color: #8C5C3D;
  min-width: 100.vh;
}
