.body {
    color: #4C3228;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 35px 50px 15px 50px;
}

.info {
    width: 85%;
    height: 70%;
    display: flex;
    margin-top: 15px;
    flex-direction: column;
}