.body {
  background-color: #ffffff;
}

.livro {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 20px 0;
  margin: 0 110px;
  background-color: #ffffff;

}

.infolivro {
  display: flex;
  flex-direction: column;
  padding: 0%;
  width: fit-content;
  align-items: start;
  margin-bottom: 3px;
}

.imagemlivro {
  width: 9rem;
  height: 11rem;
  margin: 5px 10px;
}

.titulo {
  color: #4C3228;
  margin: 0 10px;
}