.body {
    background-color: #fff;
}

.li {
    display: flex;
    margin: 20px 500px 0 10px;
    padding: 5px 10px;
    justify-content: space-between;
    align-items: center;
}

.li:hover {
    background-color: #eae8dc;
    border-radius: 10px;
}