.body {
    background-color: #fff;
}

.coluna {
    display: flex;
    flex-direction: column;
}

.linha {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.botoes {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 15px 120px;
}

.titulo {
    color: #4C3228;
    font-size: 20px;
}