.body {
    background-color: #fff;
    min-height: 65.4vh;
}

.coluna {
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
}

.linha {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}