.body {
    background-color: #fff;
}

.li {
    display: flex;
    margin: 20px 50px 0 10px;
    padding: 5px 10px;
    justify-content: space-between;
    align-items: center;
}

.li:hover {
    background-color: #eae8dc;
    border-radius: 10px;
}

.fotoperfil {
    color: #8C5C3D;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px 100px;
}

.info {
    width: 60%;
    height: 80%;
    display: flex;
    margin-top: 15px;
    flex-direction: column;
}