.infoinstituto {
  display: flex;
  flex-direction: column;
  padding: 0%;
  width: fit-content;
  align-items: center;
  justify-content: center;
}

.instituicoes {
  background-color: #ffffff;
}

.imageminstituicao {
  width: 13rem;
  border-radius: 50%;
  margin: 5px 10px;
}

.detalheinfor {
  color: #4C3228;
}