
.infolivro{
    display: flex;
    flex-direction: column;
    padding: 0%;
    width: fit-content;
    align-items:start;
    margin-bottom: 10px;
  }
.livro{
      background-color: #ffffff;

    }
.imagemlivro{
      width: 9rem;
      height: 11rem;
      margin: 5px 10px;
    }
.titulo{
        color: #4C3228;
        margin: 0 10px;
      }